.Slidercontainer
{
    width: 100%;
    scroll-snap-align:center;
    position: relative;
    text-align: center;
}

.container img{
    width: 100%;
    object-fit:cover;
}

.Headlineds
{
    position: relative;
    z-index: 1;
    font-size: 4.4rem;
    font-weight: bold;
    color: white;
}

.centeredHeadlineText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }