.containers {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.containers::-webkit-scrollbar {
  display: none;
}

.containerdot {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: -1%;
  z-index: 3;
}

ul {
  list-style-type: none;
}

li.smenuitem a {
  display: block;
  margin-top: 25px;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background-color: #ccc;
}

li.smenuitem a:hover
{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: #D75C42;;
}

li:hover .tooltip {
  display: block;
}


.tooltip {
  display: none;
  position: relative;
  top: -10px;
  background-color: #fb2a00;
  padding: 5px 5px 5px 15px;
  width: 70px;
  font-size: 12px;
  margin-left: 30px;
  color: white;
  font-family:'Times New Roman', Times, serif;
}