.section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  scroll-snap-align: center;
  position: relative;
}


.section img {
  position: relative;
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
  left: -10%;
}

.section .imageContainer
{
  width: 60%;
}
.section .downarrow {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("./images/downarrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  z-index: 2;
  cursor: pointer;
}


.content h2 {
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 10%;
}

@media (min-width: 768px) 
{
  .section .content h2{
    font-size: 3rem;
  }

}
